/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);

@import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i|Alegreya+Sans');


// fonts
$font-family-sans-serif: "Alegreya", sans-serif !default;
$font-size-root: 220% !default;
// $h1-font-size: 

// colors
$body-bg: #16161d !default;
$body-color: #fff !default;
$link-color: #901A1E !default;
$selection-bg: #e7ad52 !default;
$input-panel-bg: rgba(233, 236, 239, 0.2) !default;
$aside-text-color: #222 !default;

$theme-yellow: #ff0000 !default;

// headings
$presentation-heading-font: "Open Sans", Impact, sans-serif;
$presentation-heading-letter-spacing: -0.03em;

// code blocks
$code-block-border-color: rgba(233, 236, 239, 0.5) !default;




.reveal .slide aasdside {
    position: absolute;
    writing-mode: vertical-rl;
    right: -100px;
//    left: auto;
    bottom: 0px;
    top: 0%;
    color: #5555aa ;
    font-size: 50% ;
    text-align: left;    
    transform: translate( 0%, 0% ) scale( 100% ) rotate(180deg);
}

// 


.reveal .slide .attribution {
  position: absolute;
  top: -30%;
  bottom: auto;
  left: 102%; // Position along the x axis
  right: auto;
  font-size: 0.4em;
  pointer-events: none;
  text-align: left;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
}



/* Modification to Attribution plugin: text along the right edge of the viewport */
.attributionqq {
  position: absolute;
  top: 25%;
  bottom: auto;
  left: 95%;
  right: auto;
  font-size: 0.4em;
  pointer-events: none;
  text-align: left;
  writing-mode: vertical-rl;
  transform: scale( 100% ) rotate(-180deg);
}


/* Modification to Attribution plugin: text along the right edge of the viewport */
.attributionold {
  position: absolute;
  top: 10%;
  bottom: auto;
  left: 95%;
  right: auto;
  font-size: 0.4em;
  pointer-events: none;
  text-align: center;
  writing-mode: vertical-lr;
  transform: translate( -50%, -50% ) scale( 100% ) rotate(-180deg);
}




/*-- scss:rules --*/

.blue {
//  color: $theme-blue;
  font-weight: bold;
}

.yellow {
  color: $theme-yellow;
  font-weight: bold;
}

.red {
    color: #ff0000;
  font-weight: bold;
}



